.filter-bar {
    display: flex;
    flex-direction: row;
    padding: var(--m);
    gap: var(--m);
    align-items: center;
    height: auto;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
}

.filter-bar__column-add {
    all: unset;
    cursor: pointer;
}

.filter-bar__dropdown__wrapper {
    position: relative;
    height: 100%;
}

.add-filtered-column-dropdown {
    z-index: 9999;
    padding: var(--l);
    border-radius: var(--border-radius);
    background-color: #fff;
    box-shadow: var(--shadow);
    position: absolute;
    top: 0%;
    left: -50%;
    display: flex;
    flex-direction: column;
    gap: var(--m);
}

.add-filtered-column-dropdown__header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.add-filtered-column-dropdown__filter {
    display: flex;
    flex-direction: row;
    min-width: 170px;
    border-bottom: 2px solid var(--lightgrey);
    cursor: pointer;
}
